%h3 Sign-In
%div
  =form_for @user do |f|
    %div
      =f.label "Email     "
      =f.text_field :email
    %div 
      =f.label "password"
      =f.password_field :password
    %br 
    %input{:type => "submit", :value => "login"}
