=render "shared/header"
%h3 Edit a Tournament
=nested_form_for @tournament do |f|
  =@tournament.errors.full_messages unless @tournament.valid?
  %h3 Enter details
  =f.label "Name"
  =f.text_field :name
  %br
  %h4 Add a Match

  =f.fields_for :matches do |m|
    %br
    =m.label "Venue"
    =m.text_field :venue
    %br
    =m.label "played On"
    =m.text_field :played_on
  %p
    =f.link_to_add "Add one more match", :matches 
  %br
  =f.submit
