%center
  %h3 Discover Excellence
.navbar.navbar-inverse{"background-color": "blue"}
  %ul.nav.navbar-nav
    %li.active{role: "presentation"}
      =link_to "Home", games_path
    
    %li.active{role: "presentation"}
      =link_to "Players", players_path
  
  %ul.nav.navbar-nav.navbar-right
    %li.active{role: "presentation"}
      =link_to "Logout", destroy_user_session_path,method: :delete
  

       
