%tr
  %td= game.name
  %td= game.description
  -if can? :update, game
    %td
      %a{"href": edit_game_path(game)}
        %span{class: "glyphicon glyphicon-edit", "aria-hidden": "true"}
        Edit
  %td
    %a{"href": game_path(game)}
      %span{class: "glyphicon glyphicon-file", "aria-hidden": "true"}
      Display
  %td
    %a{"href": game_matches_path(game)}
      %span{class: "glyphicon glyphicon-list-alt", "aria-hidden": "true"}
      matches
  %td
    %a{"href": game_tournaments_path(game)}
      %span{class: "glyphicon glyphicon-list-alt", "aria-hidden": "true"}
      Tournaments
  - if can? :destroy, game
    %td
      %a{"href": '#mymodal', "data-toggle": 'modal', class: "link1", "data-id": game.id}
        %span{class: "glyphicon glyphicon-trash", "aria-hidden": "true"}
        Delete
#mymodal.modal.fade{role:"dialog" }
  .modal-dialog{role:"document"}
    .modal-content
      .modal-header
        .modal-body
          %p Are you sure?
        .modal-footer
        %a{:class=> "btn btn-default" ,id:"yes1",:type => "button","data-method": :delete, "href"=> ""} Yes
        %button.btn.btn-primary{:type => "button","data-dismiss": "modal"} No

