=render "shared/header"
%h3 Edit a Game
=form_for @game do |f|
  =@game.errors.full_messages unless @game.valid?
  enter details
  %br
  =f.label "Name"
  =f.text_field :name
  %br 
  =f.label "Description"
  =f.text_field :description
  %br 
  =f.label "Scoring points"
  =f.text_field :scoring_pts
  %br 
  =f.submit
