=render "shared/header"
.col-lg-6
  .well.well-sm
    %h3 Edit a Game
    .form-group
      =form_for @game do |f|
        %br
        =f.label "Name"
        =f.text_field :name, {class: "form-control", style: "width: 350px;"}
        %br 
        =f.label "Description"
        =f.text_field :description, {class: "form-control",style: "width: 350px;"}
        %br 
        =f.label "Scoring points"
        =f.text_field :scoring_pts, {class: "form-control",style: "width: 350px;"}
        %br 
        =f.submit
