%h3 Edit a Game
=form_for @game do |f|
  
  =@game.errors.full_messages unless @game.valid?
  ="enter details"
  =f.fields_for :matches do |m|
    =m.label "Venue"
    =m.text_field :venue
    =m.label "played On"
    =m.text_field :played_on
  %br
  =f.label "Name"
  =f.text_field :name
  %br 
  =f.label "Description"
  =f.text_field :description
  %br 
  =f.label "Scoring points"
  =f.text_field :scoring_pts
  %br 
  =f.submit
