=render "shared/header"
%h3 Games
=link_to "Add", new_game_path,{type: "button"}
%table.table
  %tr 
    %th 
      Name
    %th 
      Description
    %th
      Scoring points
    %th
      Played on
    %th
      Actions 
  %tr
    =render @games
