=render "shared/header"
.col-lg-6
  .well.well-sm
    %h3 Add New Player
    .form-group
      -unless params[:match_id]
        =form_for @player, {url: players_path(params[:match_id]), method: :post} do |f|
          =f.label "Name"
          =f.text_field :name, {class: "form-control", style: "width: 350px;" }
          %br
          =f.submit "Create"
      - else
        =form_for @player, {url: game_tournament_match_players_path(params[:game_id], params[:tournament_id], params[:match_id]), method: :post} do |f|
          =f.label "Name"
          =f.text_field :name, {class: "form-control", style: "width: 350px;" }
          %br
          =f.submit "Create"

